body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  color: rgb(59, 59, 59);
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

.fa-trophy {
  color: gold;
}

.fa-calendar-check {
  color: blue;
}
.fa-graduation-cap {
  color: green;
}
.fa-square-xmark {
  color: tomato;
}
.fa-star {
  color: gold;
}
.fa-flag {
  color: aquamarine;
}
.fa-id-badge {
  font-size: x-large;
  color: aquamarine;
}
.fa-user-tie {
  color: aquamarine;
}
.fa-code-branch {
  font-size: x-large;
  color: aquamarine;
}

.recharts-pie {
  width: 450px;
  height: 250px;
}

.Anime {
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(220, 175, 61);
  animation-name: madhu;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  filter: blur(10px);
  z-index: -1;
}
.circle2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(59, 4, 200);
  animation-name: madhu2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  filter: blur(10px);
  z-index: -1;
}

.circle1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(223, 18, 161);
  animation-name: madhu1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  filter: blur(10px);
  z-index: -1;
}
@keyframes madhu {
  5% {
    top: 50px;
    left: 50px;
  }
  10% {
    top: 100px;
    left: 100px;
  }
  15% {
    top: 150px;
    left: 150px;
  }
  20% {
    top: 200px;
    left: 200px;
  }
  25% {
    top: 250px;
    left: 250px;
  }
  30% {
    top: 300px;
    left: 300px;
  }
  35% {
    top: 350px;
    left: 350px;
  }
  40% {
    top: 400px;
    left: 400px;
  }
}
@keyframes madhu1 {
  5% {
    top: 10%;
    left: 10%;
  }
  10% {
    top: 20%;
    left: 20%;
  }
  15% {
    top: 30%;
    left: 30%;
  }
  20% {
    top: 40%;
    left: 40%;
  }
  25% {
    top: 50%;
    left: 50%;
  }
  30% {
    top: 60%;
    left: 60%;
  }
  35% {
    top: 70%;
    left: 70%;
  }
  40% {
    top: 60%;
    left: 80%;
  }
  45% {
    top: 50%;
    left: 70%;
  }
  50% {
    top: 40%;
    left: 60%;
  }
  60% {
    top: 30%;
    left: 50%;
  }
  70% {
    top: 20%;
    left: 40%;
  }
  80% {
    top: 10%;
    left: 30%;
  }
}

@keyframes madhu2 {
  5% {
    top: 100%;
    left: 10%;
  }
  10% {
    top: 90%;
    left: 20%;
  }
  15% {
    top: 80%;
    left: 30%;
  }
  20% {
    top: 70%;
    left: 40%;
  }
  25% {
    top: 60%;
    left: 50%;
  }
  30% {
    top: 50%;
    left: 60%;
  }
  35% {
    top: 40%;
    left: 70%;
  }
  40% {
    top: 30%;
    left: 80%;
  }
  45% {
    top: 10%;
    left: 70%;
  }
  50% {
    top: 40%;
    left: 60%;
  }
  60% {
    top: 30%;
    left: 50%;
  }
  70% {
    top: 20%;
    left: 40%;
  }
  80% {
    top: 10%;
    left: 20%;
  }
  100% {
    top: 0%;
    left: 10%;
  }
}
